    <!-- <section id="Puzzle" class="Puzzle">
        <a href="https://ericdavidanderson.github.io/Local/">
            <img src="./local.JPG" alt="Puzzle" style="width:100%"/>
            <section class="first">
                <p>Local (Project 1)</p>
                <a href="https://github.com/ericdavidanderson/Local.git"><p>Repo</p></a>
            </section
            ></a>
        </section> -->


    <section id="projectCard" class="Project">
        <a href="{{deployed_link}}">
            <img src="/images/{{img_name}}" alt="{{title}}" id="projectImg"/>
            <section class="first">
                <p>{{title}}</p>
                <a href="{{repo_link}}"><p>Repo</p></a>
            </section>
            </a>
        </section>