
    <section id="projectCard" class="Project">
        <a href="{{deployed_link}}">
            <img src="/images/{{img_name}}" alt="{{title}}" id="projectImg"/>
            <section class="first">
                <p>{{title}}</p>
                <a href="{{repo_link}}"><p>Repo</p></a>
            </section>
            </a>
        </section>